<a href="https://colab.research.google.com/github/Rafaelfyh/Challenge_DataScience/blob/main/Dinamica_Day_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import gc
import numpy as np
import pandas as pd
from itertools import permutations

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import jaccard_score
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import pdist, squareform

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#lendo dataset movies
df_movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAY 11/movie.csv', index_col=0)

In [ ]:
df_movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [ ]:
df_movies['title'].value_counts()

Aladdin (1992)                                                    2
Johnny Express (2014)                                             2
Chaos (2005)                                                      2
Hamlet (2000)                                                     2
20,000 Leagues Under the Sea (1997)                               2
                                                                 ..
Tai Chi Master (Twin Warriors) (Tai ji: Zhang San Feng) (1993)    1
Splitting Heirs (1993)                                            1
Sonatine (Sonachine) (1993)                                       1
Snapper, The (1993)                                               1
Innocence (2014)                                                  1
Name: title, Length: 27262, dtype: int64

In [ ]:
df_movies.drop(columns='genres', axis=1, inplace=True)

In [ ]:
df_movies.head()

                                      title
movieId
1                          Toy Story (1995)
2                            Jumanji (1995)
3                   Grumpier Old Men (1995)
4                  Waiting to Exhale (1995)
5        Father of the Bride Part II (1995)

In [ ]:
df.groupby('title').agg(rating_mean=('rating', 'mean'), rating_count=('rating', 'count')).sort_values('rating_count', ascending=False)

In [ ]:
#lendo dataset rating
df_rating = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAY 11/rating.csv', index_col=0)

In [ ]:
df_rating.head()

        movieId  rating            timestamp
userId
1             2     3.5  2005-04-02 23:53:47
1            29     3.5  2005-04-02 23:31:16
1            32     3.5  2005-04-02 23:33:39
1            47     3.5  2005-04-02 23:32:07
1            50     3.5  2005-04-02 23:29:40

In [ ]:
df_rating.drop(columns='timestamp', axis=1, inplace=True)

In [ ]:
df_rating.head()

        movieId  rating
userId
1             2     3.5
1            29     3.5
1            32     3.5
1            47     3.5
1            50     3.5

In [ ]:
df_rating.duplicated().any() | df_rating.isna().any().any()

True

In [ ]:
df_rating_maiorzero = df_rating[df_rating['rating'] >0]

In [ ]:
df_rating_algumacoisa = pd.DataFrame(df_rating_maiorzero.groupby(['movieId']) ['rating'].sum())

In [ ]:
df_rating_top_dez = df_rating_algumacoisa.sort_values('rating', ascending=False).head(10)

10 filmes melhores avaliados

In [ ]:
df = df_rating_top_dez.merge(df_movies, right_on='movieId', left_index=True)
df

           rating                                      title
movieId
318      281788.0           Shawshank Redemption, The (1994)
296      280967.5                        Pulp Fiction (1994)
356      266607.0                        Forrest Gump (1994)
593      264403.5           Silence of the Lambs, The (1991)
260      228400.0  Star Wars: Episode IV - A New Hope (1977)
480      218840.0                       Jurassic Park (1993)
110      217363.0                          Braveheart (1995)
527      215741.5                    Schindler's List (1993)
2571     214945.0                         Matrix, The (1999)
589      205421.0          Terminator 2: Judgment Day (1991)

10 filmes com maior número de avaliações

In [ ]:
df_rating_count = pd.DataFrame(df_rating.groupby(['movieId']) ['rating'].count())

In [ ]:
df_rating_count

         rating
movieId
1         49695
2         22243
3         12735
4          2756
5         12161
...         ...
131254        1
131256        1
131258        1
131260        1
131262        1

[26744 rows x 1 columns]

In [ ]:
df_rating_count.sort_values('rating', ascending=False).head(10)

         rating
movieId
296       67310
356       66172
318       63366
593       63299
480       59715
260       54502
110       53769
589       52244
2571      51334
527       50054

In [ ]:
df = df_rating_count.merge(df_movies, right_on='movieId', left_index=True)
df

         rating                               title
movieId
1         49695                    Toy Story (1995)
2         22243                      Jumanji (1995)
3         12735             Grumpier Old Men (1995)
4          2756            Waiting to Exhale (1995)
5         12161  Father of the Bride Part II (1995)
...         ...                                 ...
131254        1        Kein Bund für's Leben (2007)
131256        1       Feuer, Eis & Dosenbier (2002)
131258        1                  The Pirates (2014)
131260        1                 Rentun Ruusu (2001)
131262        1                    Innocence (2014)

[26744 rows x 2 columns]

In [ ]:
df.sort_values('rating', ascending=False).head(10)

         rating                                      title
movieId
296       67310                        Pulp Fiction (1994)
356       66172                        Forrest Gump (1994)
318       63366           Shawshank Redemption, The (1994)
593       63299           Silence of the Lambs, The (1991)
480       59715                       Jurassic Park (1993)
260       54502  Star Wars: Episode IV - A New Hope (1977)
110       53769                          Braveheart (1995)
589       52244          Terminator 2: Judgment Day (1991)
2571      51334                         Matrix, The (1999)
527       50054                    Schindler's List (1993)

10 filmes que mais se correlacionam

In [ ]:
df_movies

                                      title
movieId
1                          Toy Story (1995)
2                            Jumanji (1995)
3                   Grumpier Old Men (1995)
4                  Waiting to Exhale (1995)
5        Father of the Bride Part II (1995)
...                                     ...
131254         Kein Bund für's Leben (2007)
131256        Feuer, Eis & Dosenbier (2002)
131258                   The Pirates (2014)
131260                  Rentun Ruusu (2001)
131262                     Innocence (2014)

[27278 rows x 1 columns]

In [ ]:
df_rating

        movieId  rating
userId
1             2     3.5
1            29     3.5
1            32     3.5
1            47     3.5
1            50     3.5
...         ...     ...
138493    68954     4.5
138493    69526     4.5
138493    69644     3.0
138493    70286     5.0
138493    71619     2.5

[20000263 rows x 2 columns]

In [ ]:
df = df_movies.merge(df_rating, on='movieId')
df

          movieId                          title  rating
0               1               Toy Story (1995)     4.0
1               1               Toy Story (1995)     5.0
2               1               Toy Story (1995)     4.0
3               1               Toy Story (1995)     4.0
4               1               Toy Story (1995)     4.5
...           ...                            ...     ...
20000258   131254   Kein Bund für's Leben (2007)     4.0
20000259   131256  Feuer, Eis & Dosenbier (2002)     4.0
20000260   131258             The Pirates (2014)     2.5
20000261   131260            Rentun Ruusu (2001)     3.0
20000262   131262               Innocence (2014)     4.0

[20000263 rows x 3 columns]

In [ ]:
df.shape

(20000263, 3)